/* -------------------------------- 

File#: _1_hero
Title: Hero
Descr: A full-width callout section
Usage: codyhouse.co/license

-------------------------------- */
.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .hero--overlay-layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), 0.65);
    z-index: 1;
  }