// --------------------------------

// Custom Style - Your bespoke style

// --------------------------------

@use 'custom-style/colors';
@use 'custom-style/spacing';
@use 'custom-style/shared-styles';
@use 'custom-style/typography';
@use 'custom-style/icons';
@use 'custom-style/buttons';
@use 'custom-style/forms';
@use 'custom-style/util';

/*! purgecss start ignore */

h3{
    // color: #fff;
    font-size: 48px;
}

#hero-wrapper{
    width: 100%;
    height: calc(100vh - 50px);

    background-color: rgb(28, 36, 48);
    padding: 5px;

}
#namePlate{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    height: auto;
    // position: absolute;
    top: 2%;
    // top: 17.5%;
    left: 0;
    right: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 5px;
    // @media (min-width: 48rem) {
    //     top: 25%;
    // }
    // @media (min-width: 64rem) {
    //     top: 17.5%;
    // }
    h1{
        font-size: 1.75rem;
        margin-bottom: 5px;
        @media (min-width: 48rem) {
            font-size: 2rem;
           
        }
        @media (min-width: 64rem) {
            font-size: 2.5rem;
            margin-bottom: 10px;

        }
    }
    h2{
        font-size: 1rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
        @media (min-width: 48rem) {
            font-size: 1rem;
        }
        @media (min-width: 64rem) {
            font-size: 1.25rem;

        }
    }
}

#hero-color-layer{
    background-color: rgba(31, 41, 55, .5);
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    // opacity: .5;
}

#photo-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // justify-content: space-around;
    // align-content: space-around;
}

.photoRow{
    // height: 25% ;
    width: 100%;
    display: flex;
    flex: 1;

}

// #hero-wrapper #photo-wrapper .photoRow .photo5{
//     background-position: top;
// }

// #hero-wrapper #photo-wrapper .photoRow .photo6{
//     background-position: center;
// }

// .third-photoRow{
//     display: none;
//     @media (min-width: 48rem) {
//         display: flex;
//     }
// }
.last-photoRow{
    display: none;
    @media (min-width: 64rem) {
        display: flex;
    }
}

.photo{
    background-color: black;
    // height: auto;
    width: 25%;
    margin: 5px;
    border-radius: 2.5px;
display: flex;
flex: 1;
// flex-basis: 20%;
// background-image:url(../img/photos/hpphoto1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

@media (min-width: 64rem) {
    margin: 7.5px;
    border-radius: 5px;
}


}


.photo1{
    flex-grow: 1;
background-image:url(../img/photos/athlete/athlete-photo1.jpg);
background-position: 50% 25%;

}

.photo2{
    flex-grow: 1;
    background-image:url(../img/photos/team/team-photo4.jpg);
    display: none;
@media (min-width: 48rem) {
    display: flex;
}
}

.photo3{
    flex-grow: 1;
background-image:url(../img/photos/team/team-photo10.jpg);
background-position: 50% 25%;

}

.photo4{
    flex-grow: 1;
    background-image:url(../img/photos/football/football-photo25.jpg);}



.photo5{
    flex-grow: 1;
background-image:url(../img/photos/baseball/baseball-photo1.jpg);

}

.photo6{
    flex-grow: 1;
background-image:url(../img/photos/rugby/rugby-photo16.jpg);
display: none;
@media (min-width: 48rem) {
    display: flex;
}
}

.photo7{
    flex-grow: 1;
background-image:url(../img/photos/baseball/baseball-photo4.jpg);

}

.photo8{
    flex-grow: 1;
background-image:url(../img/photos/football/football-photo33.jpg);

display: none;
@media (min-width: 48rem) {
    display: flex;
}

}

.photo9{
    flex-grow: 1;
background-image:url(../img/photos/athlete/athlete-photo16.jpg);

}

.photo10{
    flex-grow: 1;
background-image:url(../img/photos/baseball/baseball-photo7.jpg);
}

.photo11{
    flex-grow: 1;
background-image:url(../img/photos/team/team-photo17.jpg);
display: none;
@media (min-width: 48rem) {
    display: flex;
}
}

.photo12{
    flex-grow: 1;
background-image:url(../img/photos/rugby/rugby-photo7.jpg);
background-position: 50% 15%;

}

.photo13{
    flex-grow: 1;
background-image:url(../img/photos/basketball/bball-photo10.jpg);


}

.photo14{
    flex-grow: 1;
background-image:url(../img/photos/football/football-photo17.jpg);

display: none;
@media (min-width: 48rem) {
    display: flex;
}
}
 
.photo15{
    flex-grow: 1;
background-image:url(../img/photos/rugby/rugby-photo11.jpg);


}

.photo16{
    flex-grow:1;
background-image:url(../img/photos/baseball/baseball-photo29.jpg);
background-position: 50% 25%;

display: none;
@media (min-width: 48rem) {
    display: flex;
}
}


.photo17{
    flex-grow:1;
background-image:url(../img/photos/football/football-photo36.jpg);
background-position: 50% 25%;
display: none;
@media (min-width: 48rem) {
    display: flex;
}

}



.AthletesPortraitsImg{
    background-image:url(../img/photos/athlete/athlete-photo5.jpg);
}

.TeamImg{

    background-image:url(../img/photos/team/team-photo1.jpg);

}

.BaseballImg{
    background-image:url(../img/photos/baseball/baseball-photo2.jpg);

}

.BasketballImg{

    background-image:url(../img/photos/basketball/bball-photo13.jpg);

}

.FootballImg{
    background-image:url(../img/photos/football/football-photo1.jpg);

}

.RugbyImg{
    background-image:url(../img/photos/rugby/rugby-photo5.jpg);
}

.PortraitsImg{
    background-image:url(../img/photos/portraits/portraits-photo1.jpg);

}






.gallery-wrapper{
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}
.gallery-title{
    background-color: pink;
    width: 100%;
    text-align: center;
    height: 80px;
    margin-bottom: 50px;
    padding: 15px 0 10px;
}

.gallery-subnav__list{
    display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-bottom:solid 5px var(--color-accent-lighter);
}


.gallery-subnav-container{
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    width: 100%;
}
.gallery-subnav-title{
    display: flex;
    // flex: 1;
    // flex-basis: 25%;
    margin-right: 10%;
}

.gallery-subnav-links{
    display: flex;
    align-items: center;
    .btn{
        display: flex;
        height: 45px;
        margin: 0   15px;
    }
}
.index-gallery{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    // max-height: 625px;
    overflow: hidden;
    // @media (min-width: 32rem) {
    //     max-height: 490px;
    //     }
    // @media (min-width: 48rem) {
    //     max-height: 600px;
    //     }
    @media (min-width: 64rem) {
    max-height: 500px;
    }

    @media (min-width: 80rem) {
        max-height: 625px;
        }

        @media (min-width: 90rem) {
            max-height: 650px;
            }
}
.gallery-card-color{
    background-color: rgba(255,255,255,.25);
    border: 1px #000 solid;

    color: #fff;
}

.choice-btn-contactFrom{
    width: 49%;
}


.f-header{
    // border-bottom: 3px blue solid;
    -webkit-box-shadow: 0 5px 25px 5px rgba(1,1,1,.1);
box-shadow: 0 5px 25px 5px rgba(1,1,1,.1);
}
.f-header__logo{
    width: auto !important;
}
.headerIGLogoLink{
    height: 45px;
    padding: 0 5px;
}
.headerIG-logo{
    width: 40px;
}

footer{
    background-color: #202020;
    color: #fff !important;
    border-top:5px solid orange ;
    .footer-v4__nav-item a{
        color:#fff;
        font-size: 22px;
    }
    .socials__btns{
        p{
            font-size: 1.5rem;
        color:#fff;
        }
        img{
            width: 40px;
        }
    }
    .footer-v4__print{
        color: #fff;
    }
}


.index-gallery-section{
    background-color: rgba($color: #202020, $alpha: .91);
    h3{
        color: #fff;

    }
    .filter-nav__btn{
        color: #fff ;
        
    }
    .js-filter-selected button{
        color: #264b6c;
    }
}

.index-galleryCTA-layer{
    background-color: rgba($color: #264b6c, $alpha: 1);
    color: #fff;
    h3{
        color: #fff;
        font-size: 48px;
    }

}


#product-gallery{
    min-height: 500px;
    // background: pink;
}


.filter-nav--expanded .filter-nav__item{
    min-width: 44px!important;
    min-height: 44px;
    line-height: 30px;
}

.contactFromBox{
    border: 2px solid var(--color-accent-lighter);
    -webkit-box-shadow: 0 5px 25px 5px rgba(1,1,1,.4);
    box-shadow: 0 5px 25px 5px rgba(1,1,1,.4);
}
#contactPageFrom{
    .form-label{
        font-size: 22px;
    }
    p{
        font-size: 14px;
    }
}


.about-copy{
    font-size: 14px;
    @media (min-width: 64rem) {
        font-size: 22px;

    }
}
.standout-text{
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: bold;
    @media (min-width: 64rem) {
        font-size: 28px;
    }
}


#services-wrapper{
    width: 100%;
    height: 500px;
    background-color: rgb(28, 36, 48);
    padding: 5px;
    h4{
        text-align: center;
        color: #fff;
        font-size: 24px;
        // flex-direction: column;
        // justify-content: center;
        // vertical-align: middle;
    }

}

#services-color-layer{
    background-color: rgba(31, 41, 55, .5);
    width: 100%;
    height: 500px;
    position: absolute;
    // opacity: .5;
}


// .f-header__item p{
//     font-size: 18px;
// }


.otherServicesLink{
    color:white
}



.serviceFlewDirectionMobile{
    flex-direction: column-reverse;
    @media (min-width: 64rem) {
        flex-direction: row;


    }
}