@use 'base' with (
  $breakpoints: (
    'xs': 32rem, // ~512px
    'sm': 48rem, // ~768px
    'md': 64rem, // ~1024px
    'lg': 80rem, // ~1280px
    'xl': 90rem  // ~1440px
  ),
  $grid-columns: 12
);

@use 'custom-style';
@use 'components/**/*.scss';
@use 'components/**/*.css';


.filter-nav--expanded.filter-nav--v1 .filter-nav__btn {
  color: var(--color-white);

}


.filter-nav--expanded.filter-nav--v1 .filter-nav__btn:hover {
  color: var(--color-primary-lighter);
}
.filter-nav--expanded.filter-nav--v1 .filter-nav__btn[aria-current=true] {
  color: var(--color-white);
}
.filter-nav--expanded.filter-nav--v1 .filter-nav__marker{
  background-color: var(--color-accent);
}